*{
    box-sizing: border-box;
}
.name{
    color: var(--orange);
}

.register h1{
  color: #444;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

h4{
    color: #f7b708;
    text-align: center;
}
.register{
    padding: 16px;
}
.register .active{
  top: 0;
}
/* .register form{
  margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
} */
input[type=text] {
    width: 33%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: #333;
    background: #efffb0;
}
input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: #333;
    background: #efffb0;
}
input[type=password], input[type=confirm-password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: #333;
    background: #efffb0;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* .register form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,0.3);
    text-transform: none;
  } */
  /* .register form .box:focus{
    border-color: var(--orange);
  } */

  .register form .btn{
    display: block;
    width: 100%;
  }
  .btn {
    background-color: #f7b708;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .btn:hover{
    background: rgba(255,165,0,.2);
    color: var(--orange);
}